.tox-tinymce {
    border: none !important;
    border-radius: 0px 0px 10px 10px !important;
}

.text-wrap {
    word-break: break-word;
    overflow-wrap: anywhere;
    hyphens: auto;
}

/* Add a simple CSS spinner */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.cross-bg {
    background-color: #ffffff;
    opacity: 0.8;
    background: radial-gradient(
            circle,
            transparent 20%,
            #ffffff 20%,
            #ffffff 80%,
            transparent 80%,
            transparent
        ),
        radial-gradient(
                circle,
                transparent 20%,
                #ffffff 20%,
                #ffffff 80%,
                transparent 80%,
                transparent
            )
            25px 25px,
        linear-gradient(#aeb7f9 2px, transparent 2px) 0 -1px,
        linear-gradient(90deg, #aeb7f9 2px, #ffffff 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.boxed-bg {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@import "tailwindcss";
@import "../../vendor/wireui/wireui/ts/global.css";
@plugin "daisyui" {
    themes: light --default;
}

@source '../../vendor/wireui/wireui';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
